package templates

templ Index() {
	@BaseLayout() {
		<script type="module" src="/account/demo/webcomponent.js"></script>
		<h2 id="quick-start" class="anchor-heading">Quick Start</h2>
		<p>Login with slack or atlassian via the buttons on the side of the page</p>
		<p>It will then give you a script tag to add to your html</p>
		<p>Such as</p>
		<!-- prettier-ignore -->
		<p><copy-paste>&lt;script type=&quot;module&quot; src=&quot;{ BaseURL(ctx) }/account/REPLACEME/webcomponent.js&quot;&gt;&lt;/script&gt;</copy-paste></p>
		<!-- /prettier-ignore -->
		<p>Replace <mark>REPLACEME</mark> with your account id (provided after login)</p>
		<p>then you can add <mark>&lt;omnitar-profile&gt;</mark> and <mark>&lt;omnitar-issue&gt;</mark> elements to your page</p>
		<p>For example</p>
		<!-- prettier-ignore -->
		<p><copy-paste>&lt;omnitar-profile email=&quot;slack@gavinmogan.com&quot;&gt;halkeye&lt;/omnitar-profile&gt;</copy-paste></p>
		<!-- /prettier-ignore -->
		<h2>Examples</h2>
		<wa-tab-group>
			<wa-tab panel="profile-active">Profile Existing</wa-tab>
			<wa-tab panel="profile-inactive">Profile Non-existing</wa-tab>
			<wa-tab panel="issue-active">Issue Existing</wa-tab>
			<wa-tab panel="issue-inactive">Issue Non-existing</wa-tab>
			<wa-tab-panel name="profile-active" active>
				<p>Is successfully able to find a profile for the given email</p>
				<p>
					<b>Example:</b>
					&nbsp;
					@templ.Raw(copyPaste("<omnitar-profile email=\"slack@gavinmogan.com\">halkeye</omnitar-profile>"))
				</p>
				<p>Assuming that user is on your slack, you should get a nice element with full name and a nice little profile card on hover</p>
			</wa-tab-panel>
			<wa-tab-panel name="profile-inactive">
				<p>If no matching profile can be found (bad data, expired, etc)</p>
				<p>
					<b>Example:</b>
					&nbsp;
					@templ.Raw(copyPaste("<omnitar-profile email=\"fake@fake.com\">Any fallback string goes here</omnitar-profile>"))
				</p>
				<p>Will show the original tag value, but without any popups</p>
			</wa-tab-panel>
			<wa-tab-panel name="issue-active">
				<p>Is successfully able to find an issue for the given issue key</p>
				<p>
					<b>Example:</b>
					&nbsp;
					@templ.Raw(copyPaste("<omnitar-issue issue=\"TEST-200\">TEST-200</omnitar-issue>"))
				</p>
			</wa-tab-panel>
			<wa-tab-panel name="issue-inactive">
				<p>If no matching issue can be found (bad data, expired, etc)</p>
				<p>
					<b>Example:</b>
					&nbsp;
					@templ.Raw(copyPaste("<omnitar-issue issue=\"TEST-404\">Any fallback string goes here</omnitar-issue>"))
				</p>
				<p>Will show the original tag value, but without any popups</p>
			</wa-tab-panel>
		</wa-tab-group>
	}
}
