{{define "footer.tmpl"}}
                </div>
            </article>
        </main>
        <script type="module" src="/js/copy-paste.js"></script>
        <!--/email_off-->
    </body>
</html>
{{end}}
