{{template "header.tmpl" .}}
<h2 id="quick-start" class="anchor-heading">Quick Start</h2>
<p>Add the following code to your page.</p>
<!-- prettier-ignore -->
<p><copy-paste>&lt;script type=&quot;module&quot; src=&quot;{{ .baseURL }}slack/E0AFSMB25HU/webcomponent.js&quot;&gt;&lt;/script&gt;</copy-paste></p>
<!-- /prettier-ignore -->
<p>Replace <mark>E0AFSMB25HU</mark> with your slack team ID</p>

<p>Then add a omnitar-card element with an email attribute to your page</p>
<!-- prettier-ignore -->
<p><copy-paste>&lt;omnitar-card email=&quot;slack@gavinmogan.com&quot;&gt;halkeye&lt;/omnitar-card&gt;</copy-paste></p>
<!-- /prettier-ignore -->

<h2>Examples</h2>
<div class="tabs">
    <input type="radio" name="examples-tab" id="tab-active" class="tabs__input" checked>
    <label for="tab-active" class="tabs__label">Active User</label>
    <input type="radio" name="examples-tab" id="tab-invalid" class="tabs__input">
    <label for="tab-invalid" class="tabs__label">Invalid/Inactive User</label>

    <div class="tabs__panel" id="panel-active">
        <p>Assuming a successful lookup</p>
        <!-- prettier-ignore -->
        <p><copy-paste>&lt;omnitar-card email=&quot;slack@gavinmogan.com&quot;&gt;halkeye&lt;/omnitar-card&gt;</copy-paste></p>
        <!-- /prettier-ignore -->
        <p><b>Example:</b> <omnitar-card email="slack@gavinmogan.com">gmogan</omnitar-card></p>
        <p>Assuming that user is on your slack, you should get a nice element with full name and a nice little profile card on hover</p>
    </div>

    <div class="tabs__panel" id="panel-invalid">
        <p>If no matching profile can be found (bad data, expired, etc)</p>
        <p><copy-paste>&lt;omnitar-card email=&quot;fake@fake.com&quot;&gt;initial display&lt;/omnitar-card&gt;</copy-paste></p>
        <p><b>Example:</b> <omnitar-card email="fake@fake.com">user1234</omnitar-card></p>
        <p>Will show the original tag value, but without any popups</p>
    </div>
</div>
{{template "footer.tmpl" .}}

